@page "/"
@inject IJSRuntime JSRuntime
@using System.ComponentModel;
@using System.Text;
@using System.Collections;




<div class="image-grid">
    <!-- Repeat the following structure for all 15 cells -->
    <div class="image-cell">
        <input type="file" accept="image/*" id="image1" class="image-input">
        <label for="image1" class="image-label"></label>
    </div>

    <!-- ... repeat up to image15 -->
</div>



