@page "/"
@*this is how you navigate websites in the url. '/' means that to the content in Index.razor, you go to localhost/*@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Big Sale, everything is 90% off." />
